<section data-two-columns-widget="data-two-columns-widget" class='two-col'>
    <div class='two-col__column'>
        {% area data.widget, 'columnOne' %}
    </div>
    <div class='two-col__column'>
        {% area data.widget, 'columnTwo' %}
    </div>
</section>