{% import 'fragments/utilities.html' as utilities %}

{% extends "landing-layout.html" %}

{% block main %}
  <section class="bp-content">
    {% set title = data.page.title %}
    {% render utilities.heading(title) %}
    {% if data.page.subtitle %}
      <p>{{ data.page.subtitle }}</p>
    {% endif %}
    {% area data.page, 'main' with {
      '@apostrophecms/image': {
        sizes: '(min-width: 600px) 45vw, (min-width: 1140px) 530px'
      }
    } %}
  </section>
{% endblock %}
