.breadcrumb ul {
  width: 100%;
  padding: 10px 16px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
}

.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}