.bp-navbar {
  margin-bottom: 15px;
  background-color: #f9f9f9;
  ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
  }
  li {
    display: inline;
    padding: 15px;
  }
  a {
    color: green;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
  }
}

.tmp-heading-h1 {
  color: red;
}