{% fragment productPrice(price, offerPrice) %}
  {% if offerPrice > 0 and offerPrice < price %}
    <del>
      <span class="product-Price-amount">
        {{ offerPrice | currency }}
      </span>
    </del>
  {% endif %}

  <ins>
    <span class="product-Price-amount">
      {{ price | currency }}
    </span>
  </ins>
{% endfragment %}

{% fragment productShortDesciption(description) %}
  <div class="product-short-description">
    <p>{{ description }}</p>
  </div>
{% endfragment %}