<div class="product-meta">
  <span class="product-stock-status-wrapper">
    <label>Availability:</label>
    <span class="product-stock">
      <span class="product-stock-status in-stock">{{ 'In stock' if data.piece.available else 'Out of stock' }}</span>
    </span>
  </span> 
  <span>
    <label>Size:</label>
    <span class="product_dimensions">{{ data.piece.size if data.piece.size else 'N/A'}}</span>
  </span>
  <span>
    <label>SKU:</label>
    <span>{{ data.piece.sku if data.piece.sku else 'N/A'}}</span>
  </span>
  <span>
    <label>UPC:</label>
    <span>{{ data.piece.upc if data.piece.upc else 'N/A'}}</span>
  </span>
  <span>
    <label>Categories:</label>
    {% for category in data.piece._categories %}
      <a href="/{{ category.type + '/' + category.slug }}" rel="tag">{{ category.title }}</a>. 
    {% endfor %}
  </span>
</div>