{% if data.page and data.page._ancestors.length %}
  <nav aria-label="Breadcrumb" class="bp-container breadcrumb">
    <ul>
      {# Loop over the ancestors. #}
      {% for page in data.page._ancestors %}
        <li><a href="{{ page._url }}">{{ page.title }}</a></li>
      {% endfor %}
      {% if data.piece %}
        {# We're rendering a show page. #}
        <li><a href="{{ data.page._url }}">{{ data.page.title }}</a></li>
        <li><span aria-current="page">{{ data.piece.title }}</span></li>
      {% else %}
        {# We're rendering a normal page. #}
        <li><span aria-current="page">{{ data.page.title }}</span></li>
      {% endif %}
    </ul>
  </nav>
{% endif %}