{# Automatically extends the right outer layout and also handles AJAX siutations #}
{% extends "layout.html" %}



{% set title = data.piece.title or data.page.title %}
{% block title %}
  {{ title }}
  {% if not title %}
    {{ apos.log('Looks like you forgot to override the title block in a template that does not have access to an Apostrophe page or piece.') }}
  {% endif %}
{% endblock %}

{% block beforeMain %}
<div class="bp-wrapper">
  {% include "navbar.html" %}
  <main class="bp-main">
{% endblock %}

{% block main %}
  {#
    Usually, your page templates in the @apostrophecms/pages module will override
    this block. It is safe to assume this is where your page-specific content
    should go.
  #}
{% endblock %}

{% block afterMain %}
  </main>
  <footer class="bp-footer">
    
  </footer>
</div>{# Close .bp-wrapper #}
{% endblock %}
