<nav class="bp-navbar">
  <ul>
    <li>
      <a href="{{ data.home._url }}">{{ data.home.title }}</a>
    </li>
    {% for page in data.home._children %}
      <li>
        <a href="{{ page._url }}">{{ page.title }}</a>
      </li>
    {% endfor %}
  </ul>
  </nav>