{% extends "layout.html" %}
{% import '@apostrophecms/pager:macros.html' as pager with context %}
{% block main %}
  <h1>{{ data.page.title }}</h1>
  <div class="product-list">
    {% for product in data.pieces %}
      <div class="product-wrap">
        <div class="product-item-inner">
          <div class="product-thumb">
            <div>
              <img src="{{ product.image._urls['one-half'] }}"/>
            </div>
            <a class="product-link" href="{{ product._url }}"></a>
          </div>
          <a class="product-name" href="{{ product._url }}">{{ product.title }}</a>
          <span class="price">
            <span class="product-Price-amount">{{ product.price | currency }}</span>
          </span>
        </div>
      </div>
    {% endfor %}
  </div>
  {{ pager.render({
    page: data.currentPage,
    total: data.totalPages,
    class: 'blog-pager'
  }, data.url) }}
{% endblock %}