{% import 'fragments/utilities.html' as utilities %}
{% from 'detail/fragments.html' import productPrice, productShortDesciption %}
{% extends "layout.html" %}

{% block main %}

  <div class="product-wrapper">
    <div class="product-column">
      <img src="{{ data.piece.image._urls['one-half'] }}" alt="{{ data.piece.title }}" />
    </div>

    <div class="product-column">
      {# <h3>{{ data.piece.title }}</h3> #}
      {% render utilities.heading(data.piece.title) %}
      {# {% include "detail/product-price.html" %} #}
      {# {{ apos.log(data.piece) }} #}
      <p class="product-price">
        {% render productPrice(data.piece.price, data.piece.promotionalPrice) %}
      </p>

      {# Short Description #}
      {% render productShortDesciption(data.piece.shortDescription) %}

      {# Meta data #}
      {% include "detail/product-meta.html" %}
    </div>
  </div>
  
  <section>
    {% area data.piece, 'description' %}
  </section>
{% endblock %}