<section data-collapser="data-collapser" data-color="{{ data.widget.color }}" class="collapser">
    <h2>
        <button data-collapser-button="data-collapser-button" aria-expanded="false">
            {{ data.widget.heading }}
        </button>
    </h2>
    <div
        hidden="hidden" data-collapser-detail="data-collapser-detail">
        {# `nlbr` and `safe` are core Nunjucks tag filters #}
        {{ data.widget.detail | nlbr | safe }}
    </div>
</section>