{#
  This is an example home page template. It inherits and extends a layout template
  that lives in the top-level views/ folder for convenience
#}
{% extends "layout.html" %}
{% block main %}
  <section class="bp-welcome">
    <div class="bp-welcome__verson-wrapper">
      <span class="bp-welcome__version">alpha</span>
    </div>
    <h1 class="bp-welcome__headline">
      Welcome to Apostrophe 3
    </h1>
    {% if data.page.subtitle %}
      <p>{{ data.page.subtitle }}</p>
    {% endif %}
    <div class="bp-welcome__area">
      {% if data.user %}
        {# Message only for logged in users. #}
        {% if not data.query['apos-edit'] %}
          <p>
            Enter
            <span class="bp-mode">Edit</span>
            mode from the admin bar
            <span style="display:inline-block; transform: rotate(45deg)">👆</span>
            to begin.
          </p>
        {% else %}
          <p>
            Add and edit content below in the content area. 👇
          </p>
        {% endif %}
      {% endif %}
      {% area data.page, 'main' %}
    </div>
  </section>
  {% component 'product:newest' with { max: 3 } %}
{% endblock %}