.product-list {
  display: flex;
  flex-wrap: wrap;
}

.product-wrap {
  width: 30%;

  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 50px;
  overflow: hidden;
}

.product-item-inner {
  margin: 0;
  padding: 0;

  .product-thumb {
    position: relative;
    overflow: hidden;
    margin-bottom: 25px;

    img {
      width: 100%;
      height: auto;
      max-width: 100%;
    }

    .product-link {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 3;
    }
  }

  .product-name {
    text-align: center;
    font-size: 15px;
    margin-bottom: 10px;
    line-height: 1.4;
    font-weight: 400;
    display: block;
    color: #212121;
    letter-spacing: 0.25px;
  }

  .price {
    text-align: center;
    color: #c97178;
    font-size: 14px;
    display: block;
    margin-bottom: 20px;
    font-weight: 400;
  }
}

@media screen and (max-width: 600px) {
  .product-wrap {
    flex-wrap: nowrap;
  }
}
