.product-wrapper {
  display: flex;
  flex-direction: row;

  .product-column {
    flex: 50%;
    padding-right: 15px;
    padding-left: 15px;
  }

  img {
    width: 100%;
    height: auto;
    vertical-align: top;
    border: 1px solid #e3e3e3;
    border-radius: 8px;
  }
}

.product-price {
  del {
    opacity: .5;
    text-decoration: line-through;
  }

  ins {
    background: inherit;
  }

  .product-Price-amount {
    font-size: 36px;
    letter-spacing: 5px;
    color: #c97178;
    font-weight: 600;
    margin-bottom: 30px;
    display: inline-block;
  }
}

.product-short-description {}

.product-meta {
  margin: 0 0 15px 0;
  color: #868686;
  .product-stock-status-wrapper {
    label {
      font-weight: 400;
      margin-bottom: 0;
    }
  }
}

.product-meta>span {
  display: block;
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #eee;
}
@media screen and (max-width: 600px) {
  .product-wrapper {
    flex-direction: column;
  }
}