{#
  This is an example home page template. It inherits and extends a layout template
  that lives in the top-level views/ folder for convenience
#}

{% extends "layout.html" %}

{% block main %}
  <section class="bp-content">
    <h1>{{ data.page.title }}</h1>
    <h1>{{ data.page.subtitle }}</h1>
    {% area data.page, 'main' %}
  </section>
{% endblock %}
